
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  position: sticky;
  top: 0;
}

li {
  float: left;
  background-color: rgb(44, 236, 236);
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: rgb(155, 142, 179);
}

.active {
  background-color: #a676ee;
}

.container {
  margin: 10px auto;
  width: 50%;
}
